* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
/* shared css */
.primaryText {
  color: #181818;
}
.secondaryText {
  color: #474747;
}
.tertiaryText {
  color: #fd6e0a;
}
.btn {
  background-color: #fd6e0a;
  padding: 18px 35px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
}

/* Main style */

nav {
  width: 71%;
  max-width: 1170px;
  margin: 0 auto;
  /* border: 2px solid tomato; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 51px;
  font-size: 20px;
}
nav ul a {
  text-decoration: none;
  color: #474747;
}

.logo h2 {
  font-size: 45px;
  font-weight: 800;
  color: #181818;
}

header {
  background-color: #fff8f3;
  padding-top: 30px;
}
